<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.travelnote.mapper.ProgramMapper">
	<select id="getProgramImage">
        SELECT filePath AS program_detail_img_url FROM travelnote_file
        WHERE company_id = #{company_id}
    </select>
</mapper>