<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.travelnote.mapper.UserMapper">
	<select id="getUser">
		select *
		from travelnote_user
		WHERE member_id = #{member_id} AND member_password = #{member_password}
	</select>
	<select id="getToken">
		select * 
		from travelnote_token
		WHERE refresh_token = #{refresh_token} AND agent = #{agent}
		AND connect_ip = #{connect_ip} AND member_id = #{member_id}
	</select>
	<insert id="insertToken">
		INSERT INTO travelnote_token(refresh_token, agent, connect_ip, member_id)
		VALUES(#{refresh_token}, #{agent}, #{connect_ip}, #{member_id})
	</insert>
	<select id="get_token_num">
		SELECT token_num
		FROM travelnote_token
		WHERE agent = #{agent} and connect_ip = #{connect_ip} and login_id = #{login_id}
		ORDER BY created_at DESC
		LIMIT 1
	</select>
	<update id="updateToken">
		UPDATE travelnote_token
		SET refresh_token = #{refresh_token}
		WHERE token_num = #{token_num}
	</update>
	<select id="getUser2">
		select u.member_id, u.company_id
		from travelnote_user u
		JOIN travelnote_token t ON u.member_id = t.member_id 
		WHERE refresh_token = #{refresh_token} AND agent = #{agent} AND connect_ip = #{connect_ip}
	</select>
</mapper>
